<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karelian.erl.mapper.RolePermAssocMapper">
	<delete id="deleteByUnionKey">
		DELETE
		FROM role_perm_assoc
		WHERE (rid = #{rid} AND pid = #{pid})
	</delete>
	
	<insert id="insertOrUpdateByUnionKey">
		INSERT 
		INTO role_perm_assoc
		VALUES(#{rid}, #{pid})
	</insert>
</mapper>
