<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karelian.erl.mapper.UserPermAssocMapper">
	<!-- <delete id="removeBatchByUnionKey">
		DELETE
		FROM user_perm_assoc
		WHERE
		<foreach collection="list" item="mp" separator="or">
			(uid = #{mp.uid} AND pid = #{mp.pid})
		</foreach>
	</delete> -->
	<delete id="deleteByUnionKey">
		DELETE
		FROM user_perm_assoc
		WHERE (uid = #{uid} AND pid = #{pid})
	</delete>
	
	<insert id="insertOrUpdateByUnionKey">
		INSERT 
		INTO user_perm_assoc
		VALUES(#{uid}, #{pid}, #{authorize})
		ON DUPLICATE KEY UPDATE
			authorize = #{authorize}
	</insert>
</mapper>
