@font-face {
  font-family: "iconfont"; /* Project id 3165301 */
  src: url('iconfont.woff2?t=1657620506198') format('woff2'),
       url('iconfont.woff?t=1657620506198') format('woff'),
       url('iconfont.ttf?t=1657620506198') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-movehandler:before {
  content: "\e624";
}

.icon-rules:before {
  content: "\e6ca";
}

.icon-ECEL:before {
  content: "\e644";
}

.icon-PDF:before {
  content: "\e646";
}

.icon-affair:before {
  content: "\e6c6";
}

.icon-enlarge:before {
  content: "\e67f";
}

.icon-fullscreen:before {
  content: "\e620";
}

.icon-reduce:before {
  content: "\e67d";
}

.icon-file:before {
  content: "\e615";
}

.icon-audit:before {
  content: "\e602";
}

.icon-ascend:before {
  content: "\e6b4";
}

.icon-PPT:before {
  content: "\e642";
}

.icon-WORD:before {
  content: "\e641";
}

.icon-reserve:before {
  content: "\e65e";
}

.icon-role-line:before {
  content: "\e618";
}

.icon-square:before {
  content: "\e728";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-double-arrow-right:before {
  content: "\e74e";
}

.icon-arrow-left:before {
  content: "\e743";
}

.icon-double-arrow-left:before {
  content: "\e74c";
}

.icon-datepicker:before {
  content: "\e6ba";
}

.icon-packup:before {
  content: "\e6cc";
}

.icon-packon:before {
  content: "\e6cb";
}

.icon-assign:before {
  content: "\e749";
}

.icon-authorize:before {
  content: "\e61f";
}

.icon-man-role:before {
  content: "\ea62";
}

.icon-man-data:before {
  content: "\e622";
}

.icon-man-menu:before {
  content: "\e60a";
}

.icon-man-user:before {
  content: "\ebc1";
}

.icon-post-graduate:before {
  content: "\e607";
}

.icon-under-graduate:before {
  content: "\e6ea";
}

.icon-comprehensive:before {
  content: "\e643";
}

.icon-information:before {
  content: "\e74d";
}

.icon-construction:before {
  content: "\e645";
}

.icon-practice:before {
  content: "\e664";
}

.icon-download:before {
  content: "\e614";
}

.icon-upload:before {
  content: "\e656";
}

.icon-revise:before {
  content: "\e658";
}

.icon-dot:before {
  content: "\e634";
}

.icon-error:before {
  content: "\e7bc";
}

.icon-forward:before {
  content: "\e690";
}

.icon-backward:before {
  content: "\e67c";
}

.icon-expand-all:before {
  content: "\e62e";
}

.icon-position:before {
  content: "\e679";
}

.icon-descending:before {
  content: "\e64c";
}

.icon-ascending:before {
  content: "\e64d";
}

.icon-oper:before {
  content: "\e60f";
}

.icon-page:before {
  content: "\e640";
}

.icon-menu:before {
  content: "\e761";
}

.icon-item:before {
  content: "\e648";
}

.icon-edit:before {
  content: "\e649";
}

.icon-reset:before {
  content: "\e623";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-add:before {
  content: "\e767";
}

.icon-search:before {
  content: "\e62c";
}

.icon-export:before {
  content: "\e66e";
}

.icon-import:before {
  content: "\e675";
}

.icon-message:before {
  content: "\e700";
}

.icon-warning:before {
  content: "\e6b6";
}

.icon-correct:before {
  content: "\e65a";
}

.icon-eye:before {
  content: "\e603";
}

.icon-selected:before {
  content: "\e6ad";
}

.icon-password:before {
  content: "\e630";
}

.icon-user-line:before {
  content: "\e7ae";
}

.icon-user:before {
  content: "\e68b";
}

.icon-return:before {
  content: "\e674";
}

.icon-next:before {
  content: "\e676";
}

.icon-more:before {
  content: "\e710";
}

.icon-shrink:before {
  content: "\e632";
}

.icon-home:before {
  content: "\e600";
}

.icon-refresh:before {
  content: "\e601";
}

.icon-expand:before {
  content: "\e7a4";
}

.icon-bookarea:before {
  content: "\ef46";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-bookline:before {
  content: "\e6db";
}

.icon-university:before {
  content: "\e7b6";
}

